* {
    padding: 0;
    margin: 0;
    border: 0;
}

/*Será usado como REM depois*/
html {
    font-size: calc(11px + 0.390625vw);
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.negrito {
    font-weight: 700;
}

header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

header>img:nth-of-type(1) {
    width: 100%;
    z-index: -1;
}

header>img:nth-of-type(2) {
    position: absolute;
    width: 60%;
    z-index: 1;
    margin-top: 3%;
    margin-left: 12%;
}

header figure {
    height: 12%;
    width: 71%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-self: center;
    align-items: flex-start;
    margin-top: 23%;
}

header figure img {
    width: 35%
}

.card-legiao {
    z-index: 1;
    position: absolute;
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 8%;
    margin-left: 75%;
    margin-top: 30%;
}

.card-legiao h2 {
    text-align: left;
    border-bottom: 2px solid black;
}

.card-legiao>div {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.card-legiao>div button {
    padding: 1px;
    border-radius: 50%;
    border: none;
    color: black;
}

.card-legiao>div button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.card-legiao .grande {
    font-size: 1.5rem;
}


main {
    display: flex;
    flex-direction: column;
    background-image: url("../img/sta\ uo\ robot.png");
    background-repeat: no-repeat;
    background-position: top left;
}

.apresentacao {
    position: unset;
    z-index: 1;
    width: 80%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    border-bottom: 3px solid gray;
    padding-bottom: 50px;
}

.card-sobre {
    width: 70%;
    align-items: flex-start;
    position: static;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.card-sobre figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    height: 100%;
    text-align: right;
}

.card-sobre figcaption h2 {
    padding-bottom: 5px;
    border-bottom: 3px solid gray;
    width:fit-content;
    align-self: flex-end;
}

.card-sobre img {
    align-self: center;
    width: auto;
}

.card-vermelho {
    width: 25%;
    min-width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    text-align: center;

    z-index: 1;
    background-image: url("../img/strom\ trupe\ red.png");
    background-repeat: no-repeat;
    margin-top: -3%;
    color: white;
}

.card-vermelho>* {
    margin: 15px;
    padding: 40px 0 40px 0;
}

.card-vermelho h2 {
    font-size: 1.5rem;
}

.card-vermelho a {
    font-size: 1rem;
}

.card-vermelho a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 40px 10px 40px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 50%) right;
    background-size: 200%;
    transition: 0.5s;
    margin-bottom: 10%;
}

.card-vermelho a:hover {
    background-position: left;
}

.card-vermelho a:hover>p {
    transition: 0.5s ease-in-out;
    scale: 1.15;
}

.card-vermelho a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.card-vermelho a:not(:hover)>p {
    transition: 0.1s;
}

/*FIM DA PRIMEIRA SECTION*/

/*ESTRUTURA DE JOGO*/
.estrutura-container {
    display: flex;
    flex-direction: column;
}

.img-nav-container {
    display: flex;
    position: relative;
    z-index: 1;
    width: 80%;
    align-self: center;
    justify-content: space-between;
}

.img-lord-sith {
    width: 55%;
    height: max-content;
}

.img-ray {
    width: 28%;
    height: max-content;
    align-self: flex-end;
}

.estrutura {
    position: absolute;
    align-self: center;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 30px;
    width: fit-content;
    z-index: 3;
}

.estrutura h2 {
    font-size: 2rem;
    width: 80%;
    align-self: flex-end;
}

.estrutura ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: right;
    gap: 10px;
    font-size: 1rem;
    width: fit-content;
    align-self: flex-end;
}

.estrutura li {
    padding: 3px;
    background: linear-gradient(to left, rgb(238, 77, 77) 50%, rgba(0, 0, 0, 0) 50%) left;
    background-size: 200%;
    transition: 1s;
}

.estrutura li:hover {
    background-position: right;
    color: white;
    cursor: pointer;
}

.atributos-container {
    background-color: rgb(45, 45, 45);
    color: white;
    margin-top: -5.3%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-bottom: 5%;
}

.atributos-container > h2:first-of-type {
    margin: 6% 0 0 10%;
    font-size: 2rem;
}

.atributos-container > p {
    align-self: flex-end;
    margin-right: 10%;
    font-size: 0.8rem;
    width: 50%;
    text-align: end;
    position: relative;
}

/*SEÇÃO ATRIBUTOS - PARTE DAS IMAGENS - EVITANDO USAR DIVS O MÁXIMO POSSÍVEL*/
.imagens-outter {
    align-self: center;
    width: 80vw;
    height: 24.368932vw; /*Seguindo as proporcões das images de fundo*/
    display: flex;
}
.imagens-inner {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.imgs-top, .imgs-bottom {
    display: flex;
    width: 100%;
    height: 50%;
}

.img1, .img2, .img3, .img4, .img5 {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative; /*haverá divs com position: absolute dentro destas divs*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img1 {
    background-image: url("../img/134840-games-review-star-wars-battlefront-review-image1-NkRao9Jw12.png");
}

.img2 {
    background-image: url("../img/Security_stormtrooper_HUC2-FF-003301.png");
}

.img3 {
    background-image: url("../img/star\ game.png");
}

.img4 {
    background-image: url("../img/naves\ em\ batalha\ star\ wars.png");
}

.img5 {
    background-image: url("../img/stormtrup.png");
}

.img-hover:hover .expansivel { /*mostra o conteúdo dentro da div imgn*/
    display: flex;
    align-self: center;
}
.expansivel {
    width: 105%;
    height: 110%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    font-size: 80%;
    align-self: center;
}

.img1 .expansivel {
    font-size: 120%;
}

.expansivel > * {
    margin-left: 10%;
    width: 80%;
}

.exp1 {
    background-color: rgba(99, 12, 59, 0.4);
}

.exp2 {
    background-color: rgba(255, 68, 68, 0.4);
}

.exp3 {
    background-color: rgba(0,255,0,.4);
}

.exp4 {
    background-color: rgba(255, 251, 16, 0.4);
}

.exp5 {
    background-color: rgba(0,0,255,0.4);
}

.leia-mais {
    text-decoration: none;
    width: 25%;
    border: 2px solid white;
    text-align: center;
    padding: 10px;
    color: white;
    transition: 0.5s;
    background: linear-gradient(to right, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 50%) right;
    background-size: 200%;
}

.leia-mais:hover {
    transform: scale(1.1);
    background-position: left;
}

.atributos-container>img {
    width: 80vw;
    align-self: center;
}

.atributos-container>h2:last-of-type {
    align-self: center;
    font-size: 2rem;
    margin-top: 10%;
}

.tres-opcoes {
    width: 80%;
    margin-top: -20%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 10%;
}

.tres-opcoes img {
    width: 30%;
}

.opcao {
    font-size: 1rem;
    width: 20%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: flex-end;
    justify-content: space-evenly;
}

.opcao p {
    font-size: 1rem;
}

.opcao span {
    width: 50%;
    height: 4px;
    background-color: black;
    transition: 0.5s;
}

.opcao a {
    text-decoration: none;
    padding: 10px;
    width: 40%;
    color: white;
    background: linear-gradient(to right, red 50%, black 50%) right;
    background-size: 200%;
    transition: 0.5s;
}

.opcao a:hover {
    background-position: left;
}

.opcao a:hover~span {
    background-color: red;
}

footer {
    background: linear-gradient(to right, #FF5A56 60%, white 40%);
    display: flex;
    align-items: flex-end;
}

.informacoes {
    display: flex;
    flex-direction: column;
    width: 30%;
    color: white;
    margin-left: 10%;
    justify-content: space-between;
    height: 65vh;
    margin-bottom: 5%;
    margin-top: 5;
}

footer>img {
    width: 40%;
    margin: -10% 0 0 9%;
}

.informacoes h2 {
    font-size: 2rem;
}

.imgs-download {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8%;
    border-bottom: 3px solid #D74430;
}

.imgs-download * {
    width: 45%;
}

.imgs-download img:hover {
    cursor: pointer;
}

.star-wars-final {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}

.star-wars-final img {
    width: 50%;
}

.texto-final {
    font-size: 0.8rem;
}

@media screen and (max-width: 1200px) {
    .primeira-section, .estrutura-container, .tres-opcoes, .informacoes {
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {

    .card-sobre {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .card-sobre img {
        align-self: flex-end;
    }
    .img-atributos-container {
        display: flex;
        flex-direction: column;
    }
    .primeira-imagem, .atributos-sub-container {
        width: 80vw;
        height: 40vw;
    }
    .container-de-imgs-laterais {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .expansivel {
        height: 40vw;
        background-repeat: no-repeat;
    }

}

@media screen and (max-width: 850px) {
    .primeira-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 96%;
        margin-top: 4%;
        gap: 20px;
    }
    .primeira-section > * {
        align-self: center;
    }

    .card-sobre img {
        align-self: center;
    }
    
    .img-nav-container {
        display: none
    }

    .estrutura {
        position:unset;
        margin-bottom: 10%;
        width: 100%;
    }

}