* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-size: calc(15px + 0.390625vw);
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.negrito {
    font-weight: 700;
}

header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

header>img:nth-of-type(1) {
    width: 100%;
    z-index: -1;
}

header>img:nth-of-type(2) {
    position: absolute;
    width: 60%;
    z-index: 1;
    margin-top: 3%;
    margin-left: 12%;
}

header figure {
    height: 12%;
    width: 71%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-self: center;
    align-items: flex-start;
    margin-top: 23%;
}

header figure img {
    width: 35%
}

.card-legiao {
    z-index: 1;
    position: absolute;
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 8%;
    margin-left: 75%;
    margin-top: 33%;
}

.card-legiao h2 {
    text-align: left;
    border-bottom: 2px solid black;
}

.card-legiao>div {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.card-legiao>div button {
    padding: 1px;
    border-radius: 50%;
    border: none;
    color: black;
}

.card-legiao>div button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.card-legiao .grande {
    font-size: 1.5rem;
}


main {
    display: flex;
    flex-direction: column;
}

.primeira-section {
    position: unset;
    z-index: 1;
    width: 80%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    border-bottom: 3px solid gray;
    padding-bottom: 30px;
}

.card-sobre {
    align-items: flex-start;
    position: static;
    align-self: flex-end;
    display: flex;
    gap: 40px;
}

.card-sobre figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: end;
}

.card-sobre figcaption h2 {
    padding-bottom: 5px;
    border-bottom: 3px solid gray;
}

.card-sobre img {
    align-self: center;
}

.card-inicial {
    width: 25%;
    min-width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    text-align: center;

    z-index: 1;
    background-image: url("../img/strom\ trupe\ red.png");
    background-repeat: no-repeat;
    margin-top: -3%;
    color: white;
}

.card-inicial>* {
    margin: 15px;
    padding: 40px 0 40px 0;
}

.card-inicial h2 {
    font-size: 1.5rem;
}

.card-inicial a {
    font-size: 1rem;
}

.card-inicial a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 40px 10px 40px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 50%) right;
    background-size: 200%;
    transition: 0.5s;
    margin-bottom: 10%;
}

.card-inicial a:hover {
    background-position: left;
}

.card-inicial a:hover>p {
    transition: 0.5s ease-in-out;
    scale: 1.15;
}

.card-inicial a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.card-inicial a:not(:hover)>p {
    transition: 0.1s;
}

.img-lateral {
    position: absolute;
    z-index: -1;
    width: 38%;
}

.img-nav-container {
    display: flex;
    position: relative;
    z-index: 1;
    width: 80%;
    align-self: center;
    justify-content: space-between;
}

.img-lord-sith {
    width: 55%;
    height: max-content;
}

.img-ray {
    width: 28%;
    height: max-content;
    align-self: flex-end;
}

.img-nav-container div {
    position: absolute;
}

.estrutura {
    position: absolute;
    margin-left: 40%;
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 30px;
    width: fit-content;
    z-index: 3;
}

.estrutura h2 {
    font-size: 2rem;
    width: 80%;
    align-self: flex-end;
}

.estrutura ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: right;
    gap: 10px;
    font-size: 1rem;
    width: fit-content;
    align-self: flex-end;
}

.estrutura li {
    padding: 3px;
    background: linear-gradient(to left, rgb(238, 77, 77) 50%, rgba(0, 0, 0, 0) 50%) left;
    background-size: 200%;
    transition: 1s;
}

.estrutura li:hover {
    background-position: right;
    color: white;
    cursor: pointer;
}

.atributos-container {
    background-color: rgb(45, 45, 45);
    color: white;
    margin-top: -5.2%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-bottom: 5%;
}

.img-atributos-container {
    align-self: center;
    display: flex;
}

.atributos-container div {
    background-position: center;
}

.atributos-container h2:first-of-type {
    margin: 6% 0 0 10%;
    font-size: 2rem;
}

.primeira-imagem {
    height: 24.36vw;
    width: 40vw;
    background-image: url("../img/134840-games-review-star-wars-battlefront-review-image1-NkRao9Jw12.png");
    background-repeat: no-repeat;
}

.primeira-imagem:hover .expansivel {
    display: block;
}

.atributos-sub-container {
    display: flex;
    flex-direction: column;
}

.imgs-laterais {
    height: 12.18vw;
    width: 20vw;
}

.imgs-laterais:hover .expansivel {
    display: block;
}

.expansivel {
    display: none;
}

.container-de-imgs-laterais {
    display: flex;
}

.img1 {
    background-image: url("../img/Security_stormtrooper_HUC2-FF-003301.png");
}

.img2 {
    background-image: url("../img/star\ game.png");
}

.img3 {
    background-image: url("../img/naves\ em\ batalha\ star\ wars.png");
}

.img4 {
    background-image: url("../img/stormtrup.png");
}

.atributos-container>img {
    width: 80vw;
    align-self: center;
}

.atributos-container>h2:last-of-type {
    align-self: center;
    font-size: 2rem;
    margin-top: 10%;
}

.tres-opcoes {
    width: 80%;
    margin-top: -20%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 10%;
}

.tres-opcoes img {
    width: 30%;
}

.opcao {
    font-size: 1rem;
    width: 20%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: flex-end;
    justify-content: space-evenly;
}

.opcao p {
    font-size: 0.9rem;
}

.opcao span {
    width: 50%;
    height: 4px;
    background-color: black;
    transition: 0.5s;
}

.opcao a {
    text-decoration: none;
    padding: 10px;
    width: 40%;
    color: white;
    background: linear-gradient(to right, red 50%, black 50%) right;
    background-size: 200%;
    transition: 0.5s;
}

.opcao a:hover {
    background-position: left;
}

.opcao a:hover~span {
    background-color: red;
}

footer {
    background: linear-gradient(to right, #FF5A56 60%, white 40%);
    display: flex;
    align-items: flex-end;
}

.informacoes {
    display: flex;
    flex-direction: column;
    width: 30%;
    color: white;
    margin-left: 10%;
    justify-content: space-between;
    height: 65vh;
    margin-bottom: 5%;
    margin-top: 5;
}

footer>img {
    width: 40%;
    margin: -10% 0 0 9%;
}

.informacoes h2 {
    font-size: 2rem;
}

.imgs-download {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8%;
    border-bottom: 3px solid #D74430;
}

.imgs-download * {
    width: 45%;
}

.imgs-download img:hover {
    cursor: pointer;
}

.star-wars-final {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}

.star-wars-final img {
    width: 50%;
}

.texto-final {
    font-size: 0.8rem;
}