* {
    padding: 0;
    margin: 0;
}

header {
    height: fit-content;
    width: 100%;
}

header>img:nth-of-type(1) {
    width: 100%;
    z-index: 0;
    position: absolute;
}

header>img:nth-of-type(2) {
    position: absolute;
    width: 60%;
    z-index: 1;
    margin-top: 5%;
    margin-left: 15%;
}

header>img:nth-of-type(3) {
    z-index: 0;
    position: absolute;
    width: 20%;
    margin-left: 25%;
    margin-top: 25%;
}

header>img:nth-of-type(4) {
    z-index: 0;
    position: absolute;
    width: 20%;
    margin-left: 62%;
    margin-top: 25%;
}

header>img:nth-of-type(5) {
    z-index: 1;
    position: relative;
    width: 10%;
    margin-left: 75%;
    margin-top: 33%;
}

main {
    display: flex;
    flex-direction: column;
}

.primeira-section {
    position: unset;
    z-index: 1;
    width: 80%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    border-bottom: 3px solid gray;
    padding-bottom: 30px;
}

.primeira-section img {
    height: 15vw;
    position: static;
    align-self: flex-end;
}

.card-inicial {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 20vw;
    height: 29.42vw;
    /*seguindo as proporções da imagem de fundo*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    text-align: center;

    z-index: 1;
    background-image: url("../img/strom\ trupe\ red.png");
    background-repeat: no-repeat;
    margin-top: -3%;
    color: white;
}

.card-inicial>* {
    margin: 15px;
}

.card-inicial h2 {
    font-size: 4vh;
}

.card-inicial p {
    font-size: 2.5vh;
}

.card-inicial a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 40px 10px 40px;
    background: linear-gradient(to left, rgba(0,0,0,0) 50%, rgba(0,0,0,0.4) 50%) right;
    background-size: 200%;
    transition: 0.5s;
}

.card-inicial a:hover {
    background-position: left;
}

.card-inicial a:hover>p {
    transition: 0.5s ease-in-out;
    scale: 1.15;
}

.card-inicial a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.card-inicial a:not(:hover)>p {
    transition: 0.1s;
}

.img-lateral {
    position: absolute;
    z-index: -1;
    width: 38%;
}

.img-nav-container {
    display: flex;
    position: relative;
    z-index: 1;
    width: 80%;
    align-self: center;
    justify-content: space-between;
}

.img-lord-sith {
    width: 55%;
    height: max-content;
}

.img-ray {
    width: 28%;
    height: max-content;
    align-self: flex-end;
}

.img-nav-container div {
    position: absolute;
}

.estrutura {
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 40%;
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 30px;
    width: fit-content;
    z-index: 3;
}

.estrutura h2 {
    font-size: 5vh;
    width: 80%;
    align-self: flex-end;
}

.estrutura ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: right;
    gap: 10px;
    font-size: 2.5vh;
    width: fit-content;
    align-self: flex-end;
}

.estrutura li {
    padding: 3px;
    background: linear-gradient(to left, rgb(238, 77, 77) 50%, rgba(0,0,0,0) 50%) left;
    background-size: 200%;
    transition: 1s;
}

.estrutura li:hover {
    background-position: right;
    color: white;
    cursor: pointer;
}